
body {
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 28px;
	background-color:#100e17;
	color: white;
}

#navbar {

	height: 120px;
	width: 100%;
	border-bottom: solid 0.5px rgba(194,194,194,0.5);
	border-top: solid 0.5px rgba(194,194,194,0.5);
}



#iconBar {

padding: 30px;
float: left;
margin-left: 80px;
}

#iconBar img {

	height: 60px;
	width: 60px;
	margin-right: 60px;

}




#menuBar {

padding: 30px;
float: right;
margin-right: 80px;
}

#menuBar img {

	height: 60px;
	width: 60px;
	margin-right: 60px;

}

/* end of menu */

#contactSection {

	height: 600px;
	width: 30%;
	margin: auto;
}

#title {

	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	
	padding: 0 0 20px;
	
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

#map img{
	
	height: 400px;
	width: 100%;
	margin: auto;


}

.footer_center {

	height: 100px;
	width: 100%;
}
